.loader{
    display:flex;
    align-items: center;
    justify-content: center;
    color: var(--blue);
    width:100vw;
    margin-top:1.5rem;
    background-color: var(--black);
    position: absolute;
    z-index: 1000;
}